<div class="flex flex-col bg-white dark:bg-slate-800 rounded-xl shadow-xl overflow-hidden h-full">

  <div class="flex justify-between items-center px-6 py-4 border-b border-gray-200 dark:border-slate-700">
    <h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 m-0">
      <ng-content select="[dialog-title]"></ng-content>
    </h1>
    <button mat-icon-button (click)="closeDialog.emit()" class="text-gray-500 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-100 -mr-2">
        <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="p-6 flex-grow overflow-auto dark:text-gray-300">
    <ng-content></ng-content>
  </div>

  <div class="flex justify-end gap-x-3 px-6 py-4 bg-gray-50 dark:bg-slate-900/50 border-t border-gray-200 dark:border-slate-700">
    <ng-content select="[dialog-actions]"></ng-content>
  </div>

</div>
